<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/plugin/simplePagination.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="/plugin/jquery.simplePagination.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body>
    <!---->
    <main>
        <div class="container my-5">
            <div class="card-body text-center">
                <h4 class="card-title text-uppercase " style="color:red">List Công việc</h4>
            </div>
            <div class="card">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-uppercase text-danger ">ID</th>
                            <th class="text-uppercase text-danger">List Job</th>
                            <th class="text-uppercase text-danger">Deadline</th>

                            <!-- scope="col"
                            scope="col"
                            scope="col"
                            scope="col"
                            scope="col" -->
                        </tr>
                    </thead>
                    <tbody id="noidung">

                    </tbody>
                </table>
            </div>
            <!-- Add modal -->
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class=" card col-8 offset-2 my-2 p-3">
                            <form>
                                <div class="form-group">
                                    <label for="listjob" class="text-uppercase">Name Job</label>
                                    <input type="text" class="form-control" maxlength="200" name="listname" id="listname" placeholder="Name Job">
                                </div>
                                <div class="form-group">
                                    <label for="datepicker" class="text-uppercase">Deadline</label>
                                    <input type="text" class="form-control" name="datepicker" id="datepicker" placeholder="Deadline">
                                </div>
                                <div class="form-group text-center ">
                                    <button type="button" id="them" class="btn btn-block btn-primary text-uppercase">Thêm dữ liệu</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Edit modal -->
            <div id="buttonEdit" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="card-body text-center">
                            <h4 class="card-title text-uppercase">Sửa dữ liệu</h4>
                        </div>
                        <div class=" card col-8 offset-2 my-2 p-3">
                            <form>
                                <div class="form-group text-uppercase">
                                    <label for="listjob ">List Job</label>
                                    <input type="text" class="form-control" name="listname" id="editName" placeholder="Name Job">
                                </div>
                                <div class="form-group text-uppercase">
                                    <label for="datepicker">Deadline</label>
                                    <input type="text" class="form-control" name="datepicker" id="editDatepicker" placeholder="Deadline">
                                </div>
                                <div class="form-group text-center">
                                    <button type="button" id="btn-sua" class="btn btn-block btn-primary text-uppercase"><strong>Sửa dữ liệu</strong></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Details -->
            <div id="buttonDetails" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="card-body text-center">
                            <h4 class="card-title text-uppercase">Chi tiết dữ liệu</h4>
                        </div>
                        <div class=" card col-8 offset-2 my-2 p-3">
                            <form>
                                <div class="form-group text-uppercase">
                                    <label for="listjob ">Name Job</label>
                                    <input type="text" readonly class="form-control" name="listname" id="detailsName" placeholder="Name Job">
                                </div>
                                <div class="form-group text-uppercase">
                                    <label for="datepicker ">Deadline</label>
                                    <input type="text" readonly class="form-control" name="datepicker" id="detailsDatepicker" placeholder="Deadline">
                                </div>
                                <div class="form-group text-center">
                                    <button type="button" class="btn btn-secondary text-uppercase " data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="chuyenPages d-flex justify-content-center my-3">
        </div>
    </main>
</body>
<script>
    $.ajax({
        url: '/api/count',
        method: "get"

    }).then(function(data) {
        console.log(data);
        taoPhanTrang(data)
    })

    function loadPage(page) {
        $.ajax({
            url: '/api/pages?page=' + page,
            method: "get"
        }).then(function(data) {
            // console.log(data);
            $('#noidung').html('') //resert lại trang 

            for (let i = 0; i < data.length; i++) {
                const element = data[i];
                $('#noidung').append(`
                            <tr id=${element._id}>
                                <th scope="row">${element._id}</th>
                                <td class="title"><strong>${element.title}</strong></td>
                                <td class="content"><strong>${element.Content}</strong></td>
                               
                            </tr>
            `)
            }
        })
    }

    function taoPhanTrang(totalItems) {
        $(".chuyenPages").pagination({
            items: totalItems,
            itemsOnPage: 3,
            cssStyle: 'dark-theme',
            onPageClick: function(pageNumber, event) {
                console.log(pageNumber);
                loadPage(pageNumber)
            },
            onInit: function() {
                loadPage(1)
            }
        });
    }
    //button them
    $("#them").click(function() {
        var listname = $('#listname').val();
        var datepicker = $('#datepicker').val();
        body = {
            listname,
            datepicker
        }
        console.log(body);
        $.ajax({
            url: '/api/postAdd',
            data: body,
            method: "post"

        }).then(function(data) {
            alert("Thêm thành công")
            window.location.href = '/'

        })
    })

    //button edit
    function edit(id, editName, editDatepicker) {
        $("#buttonEdit").modal('show');
        $("#editName").val(editName);
        $("#editDatepicker").val(editDatepicker);
        $("#btn-sua").off('click').on('click', function() {
            var editName = $("#editName").val();
            var editDatepicker = $("#editDatepicker").val();
            bodyEdit = {
                editName,
                editDatepicker
            }
            $.ajax({
                url: '/api/edit/' + id,
                data: bodyEdit,
                method: "PUT",
            }).then(function(result) {
                // alert(result.message);
                console.log($('#' + result.data[0].id));
                $('#' + result.data[0]._id).find('.title').html(result.data[0].title)
                $('#' + result.data[0]._id).find('.content').html(result.data[0].Content)
            });
        })
    }
    //button xóa
    function xoaDB(id) {
        // alert(id)
        $.ajax({
            url: '/api/delete/' + id,
            method: "delete"
        }).then(function() {
            alert('xóa thành công');
            window.location.href = '/'
        });
    }
    // button details
    function details(id, detailsName, detailsDatepicker) {
        $("#buttonDetails").modal('show');
        $("#detailsName").val(detailsName);
        $("#detailsDatepicker").val(detailsDatepicker);
        // $("#btn-details").off('click').on('click',function(){
        // })
        $.ajax({
            url: '/api/details',
            data: bodyEdit,
            method: "GET",
        }).then(function() {
            window.location.href = '/'
        })

    }
</script>