body {
    background-image: url(/images/background-1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

footer {
    margin-top: 20px;
    padding-top: 20px;
}

.card {
    background: #fff;
    opacity: 0.9;
}

.bg__card__navbar {
    background-color: #000000;
}

.bg__card__footer {
    background-color: #000000 !important;
}

#add__new__list {
    top: -38px;
    right: 0px;
}

.card-title {
    font-size: 2em;
}